<launch>
    <include file="$(find segway_rmpX)/launch/segway_rmp.launch" />
    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
        <param name="autorepeat_rate" value="5" />
    </node>
    <node name="joy2twist" pkg="joy2twist_segway_rmp" type="joy2twist.py" output="screen">
        <param name="max_linear_vel" value="0.2"/>
        <param name="max_angular_vel" value="0.4"/>
    </node>
</launch>
