<launch>
    <include file="$(find segway_rmpX)/launch/segway_rmp.launch" />
    <node name="joy_node" pkg="joy" type="joy_node" output="screen" />
    <node name="joy2twist" pkg="joy2twist_segway_rmp" type="joy2twist.py" output="screen">
        <param name="linear_scalar" value="0.3"/>
        <param name="angular_scalar" value="0.2"/>
    </node>
</launch>
